.popup-container {
  z-index: 999;
  position: fixed;
  width: 80%;
  top: 10%;
  left: 10%;
  padding: 2px;
}


.close-btn {
  font-size: 30px;
  cursor: pointer;
}




input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}



.sticky-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 